body {
  margin: 0;
  border: 0;
  padding: 0;
}
/*https://www.w3schools.com/howto/howto_css_center_button.asp*/
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*https://spin.atomicobject.com/2015/07/14/css-responsive-square/*/
  .square {
    width: 50%;
    
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .red{
    background-color: red;
  }

  .blue{
    background-color: blue;
  }

  .green{
    background-color: green;
  }

  .yellow{
    background-color: yellow;
  }